.video-setting {
    position: absolute;
    background-size: cover;
    background: no-repeat fixed;
}
#videoheader .video-sample.visible {
    opacity: 1;
}
#videoheader .video-sample {
    z-index: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: opacity .7s linear;
    -moz-transition: opacity .7s linear;
    transition: opacity .7s linear;
}
@media screen and (max-width: 770px) {
    .visible {
        opacity: 0;
    }
}

.card { background-color: rgba(245, 245, 245, 0.4); color: #fefefe; }
.card-header, .card-footer { opacity: 1}
.card-title {
    color: #fefefe;
}